   				<div class="app-header-secondary">
						<div class="app-container container-xxl d-flex align-items-stretch">
							<div class="app-header-menu app-header-mobile-drawer align-items-stretch flex-grow-1" data-kt-drawer="true" data-kt-drawer-name="app-header-menu" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="250px" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_header_menu_toggle" data-kt-swapper="true" data-kt-swapper-mode="{default: 'append', lg: 'prepend'}" data-kt-swapper-parent="{default: '#kt_app_body', lg: '#kt_app_header_wrapper'}">
								<div class="menu menu-rounded menu-active-bg menu-state-primary menu-column menu-lg-row menu-title-gray-700 menu-icon-gray-500 menu-arrow-gray-500 menu-bullet-gray-500 my-5 my-lg-0 align-items-stretch fw-semibold px-2 px-lg-0" id="kt_app_header_menu" data-kt-menu="true">
									<div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class="menu-item here show menu-here-bg menu-lg-down-accordion me-0 me-lg-2">
										<span class="menu-link">
											<span class="menu-title">Kontrol  Paneli</span>
											<span class="menu-arrow d-lg-none"></span>
										</span>
									</div>
									<div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class="menu-item menu-here-bg menu-lg-down-accordion me-0 me-lg-2">
										<span class="menu-link">
											<span class="menu-title">Müşteri Yönetimi</span>
											<span class="menu-arrow d-lg-none"></span>
										</span>
										<div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown px-lg-2 py-lg-4 w-lg-200px">
											<div class="menu-item">
												<a class="menu-link" href="../dist/account/overview.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Müşteri Listesi</span>
												</a>
											</div>
											<div class="menu-item">
												<a class="menu-link" href="#" data-kt-page="pro">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Tahsilatlar
												</a>
											</div>
											<div class="menu-item">
												<a class="menu-link" href="#" data-kt-page="pro">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Ödeme Takibi
												</a>
											</div>						
										</div>
									</div>

									<div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion me-0 me-lg-2">
										<span class="menu-link">
											<span class="menu-title">Satış Yönetimi</span>
											<span class="menu-arrow d-lg-none"></span>
										</span>
										<div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown px-lg-2 py-lg-4 w-lg-200px">
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/about.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Satış Faturaları</span>
												</a>
											</div>
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/team.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">İade İşlemleri</span>
												</a>
											</div>
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/team.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Teklifler</span>
												</a>
											</div>
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/team.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Raporlar</span>
												</a>
											</div>				
										</div>
									</div>

									<div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion me-0 me-lg-2">
										<span class="menu-link">
											<span class="menu-title">Satın Alma Yönetimi</span>
											<span class="menu-arrow d-lg-none"></span>
										</span>
										<div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown px-lg-2 py-lg-4 w-lg-200px">
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/about.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Satın Alma Faturaları</span>
												</a>
											</div>
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/team.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Tedarikçi Yönetimi</span>
												</a>
											</div>
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/team.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Satın Alma Siparişleri</span>	
												</a>
											</div>
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/team.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Raporlar</span>
												</a>
											</div>				
										</div>
									</div>

									
									<div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion me-0 me-lg-2">
										<span class="menu-link">
											<span class="menu-title">Stok Yönetimi</span>
											<span class="menu-arrow d-lg-none"></span>
										</span>
										<div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown px-lg-2 py-lg-4 w-lg-200px">
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/about.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Stok Listesi</span>
												</a>
											</div>
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/team.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Depolar</span>
												</a>
											</div>
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/team.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Stok Hareketleri</span>	
												</a>
											</div>
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/team.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">İrsaliyeler</span>
												</a>
											</div>				
										</div>
									</div>
									<div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion me-lg-1">
										<span class="menu-link">
											<span class="menu-title">Banka ve Kasa</span>
											<span class="menu-arrow d-lg-none"></span>
										</span>
										<div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown p-0 w-lg-700px">
											<div class="menu-state-bg p-4 p-lg-8">
												<div class="row">
													<div class="col-lg-4 mb-6 mb-lg-0">
														<div class="mb-0">
															<h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">Banka İşlemleri</h4>
															<div class="menu-item p-0 m-0">
																<a href="../dist/authentication/sign-in/basic.html" class="menu-link">
																	<span class="menu-title">Banka Hesaplarım</span>
																</a>
															</div>
															<div class="menu-item p-0 m-0">
																<a href="../dist/authentication/sign-up/basic.html" class="menu-link">
																	<span class="menu-title">Hesap Hareketlerim</span>
																</a>
															</div>
															<div class="menu-item p-0 m-0">
																<a href="#" class="menu-link">
																	<span class="menu-title">Banka Raporları
																</a>
															</div>
														
														</div>
													</div>
													<div class="col-lg-4 mb-6 mb-lg-0">
														<div class="mb-0">
															<h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">Kasa İşlemleri</h4>
															<div class="menu-item p-0 m-0">
																<a href="#" class="menu-link">
																	<span class="menu-title">Kasalarım
																</a>
															</div>
															<div class="menu-item p-0 m-0">
																<a href="#" class="menu-link">
																	<span class="menu-title">Kasa Hareketleri
																</a>
															</div>
															<div class="menu-item p-0 m-0">
																<a href="#" class="menu-link">
																	<span class="menu-title">Kasa Raporları
																</a>
															</div>
														</div>
													</div>
													<div class="col-lg-4 mb-6 mb-lg-0">
														<div class="mb-0">
															<h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">Çek ve Senet İşlemleri</h4>
															<div class="menu-item p-0 m-0">
																<a href="#" class="menu-link">
																	<span class="menu-title">Çekler
																</a>
															</div>
															<div class="menu-item p-0 m-0">
																<a href="#" class="menu-link">
																	<span class="menu-title">Senetler
																</a>
															</div>
															<div class="menu-item p-0 m-0">
																<a href="#" class="menu-link">
																	<span class="menu-title">Çek Senet Raporları
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>		
									<div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion me-0 me-lg-2">
										<span class="menu-link">
											<span class="menu-title">Tüm Raporlar</span>
											<span class="menu-arrow d-lg-none"></span>
										</span>
										<div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown px-lg-2 py-lg-4 w-lg-200px">
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/about.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Gelir Raporları</span>
												</a>
											</div>
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/team.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Gider Raporları</span>
												</a>
											</div>
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/team.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Kar - Zarar Raporları</span>	
												</a>
											</div>
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/team.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Nakit Akış Raporu</span>
												</a>
											</div>	
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/team.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Bilanço</span>
												</a>
											</div>			
										</div>
									</div>
									<div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion me-0 me-lg-2">
										<span class="menu-link">
											<span class="menu-title">Vergi Yönetimi</span>
											<span class="menu-arrow d-lg-none"></span>
										</span>
										<div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown px-lg-2 py-lg-4 w-lg-200px">
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/about.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">KDV Raporları</span>
												</a>
											</div>
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/team.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Gelir Vergisi Hesapla</span>
												</a>
											</div>
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/team.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Diğer Vergiler</span>	
												</a>
											</div>	
										</div>
									</div>
                                   <!-- 
									<div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion me-0 me-lg-2">
										<span class="menu-link">
											<span class="menu-title">Sabit Kıymet Yönetimi</span>
											<span class="menu-arrow d-lg-none"></span>
										</span>
										<div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown px-lg-2 py-lg-4 w-lg-200px">
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/about.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Sabit Kıymet Listesi</span>
												</a>
											</div>
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/team.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Amortisman Takibi</span>
												</a>
											</div>
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/team.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Raporlar</span>	
												</a>
											</div>	
										</div>
									</div> 
									<div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion me-0 me-lg-2">
										<span class="menu-link">
											<span class="menu-title">Ayarlar</span>
											<span class="menu-arrow d-lg-none"></span>
										</span>
										<div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown px-lg-2 py-lg-4 w-lg-200px">
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/about.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Kullanıcı Listesi</span>
												</a>
											</div>
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/team.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Firma Bilgileri</span>
												</a>
											</div>
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/team.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Para Birimi ve Kur Ayarları</span>	
												</a>
											</div>	
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/team.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Vergi Oranları</span>	
												</a>
											</div>
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/team.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Fatura Tasarımı</span>	
												</a>
											</div>
											<div class="menu-item">
												<a class="menu-link" href="../dist/pages/team.html">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">Yedekleme ve Geri Yükleme</span>	
												</a>
											</div>
										</div>
									</div> -->
								</div>
							</div>
						</div>
					</div>