<%- include('./partials/header.ejs') %>
<div class="container">
    <div id="kt_app_content" class="app-content pb-0">
      <div class="card shadow-sm">
        <div class="card-header">
          <h3 class="card-title">Müşteri Listesi</h3>
          <div class="card-toolbar">
            <button type="button" class="btn btn-sm btn-primary"> Yeni Müşteri Ekle </button>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table id="kt_datatable_zero_configuration" class="table table-row-bordered gy-5">
              <thead>
                <tr class="fw-semibold fs-6 text-muted">
                  <th>İsim Soyisim</th>
                  <th>E-Posta</th>
                  <th>Telefon Numarası</th>
                  <th>Kayıt Tarihi</th>
                  <th>Durum</th>
                  <td>
                    İşlemler
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Tiger Nixon</td>
                  <td>System Architect</td>
                  <td>Edinburgh</td>
                  <td>61</td>
                  <td><span class="badge badge-info">Aktif</span></td>
                  <td>
                    <span class="badge badge-success">İncele</span>
                    <span class="badge badge-danger">Sil</span>
                  </td>
                </tr>
                <tr>
                  <td>Garrett Winters</td>
                  <td>Accountant</td>
                  <td>Tokyo</td>
                  <td>63</td>
                  <td><span class="badge badge-info">Aktif</span></td>
                  <td>
                    <span class="badge badge-success">İncele</span>
                    <span class="badge badge-danger">Sil</span>
                  </td>
                </tr>
                <tr>
                  <td>Ashton Cox</td>
                  <td>Junior Technical Author</td>
                  <td>San Francisco</td>
                  <td>66</td>
                  <td><span class="badge badge-info">Aktif</span></td>
                  <td>
                    <span class="badge badge-success">İncele</span>
                    <span class="badge badge-danger">Sil</span>
                  </td>
                </tr>
                <tr>
                    <td>Ashton Cox</td>
                    <td>Junior Technical Author</td>
                    <td>San Francisco</td>
                    <td>66</td>
                    <td><span class="badge badge-info">Aktif</span></td>
                    <td>
                      <span class="badge badge-success">İncele</span>
                      <span class="badge badge-danger">Sil</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Ashton Cox</td>
                    <td>Junior Technical Author</td>
                    <td>San Francisco</td>
                    <td>66</td>
                    <td><span class="badge badge-info">Aktif</span></td>
                    <td>
                      <span class="badge badge-success">İncele</span>
                      <span class="badge badge-danger">Sil</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Ashton Cox</td>
                    <td>Junior Technical Author</td>
                    <td>San Francisco</td>
                    <td>66</td>
                    <td><span class="badge badge-info">Aktif</span></td>
                    <td>
                      <span class="badge badge-success">İncele</span>
                      <span class="badge badge-danger">Sil</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Ashton Cox</td>
                    <td>Junior Technical Author</td>
                    <td>San Francisco</td>
                    <td>66</td>
                    <td><span class="badge badge-info">Aktif</span></td>
                    <td>
                      <span class="badge badge-success">İncele</span>
                      <span class="badge badge-danger">Sil</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Ashton Cox</td>
                    <td>Junior Technical Author</td>
                    <td>San Francisco</td>
                    <td>66</td>
                    <td><span class="badge badge-info">Aktif</span></td>
                    <td>
                      <span class="badge badge-success">İncele</span>
                      <span class="badge badge-danger">Sil</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Ashton Cox</td>
                    <td>Junior Technical Author</td>
                    <td>San Francisco</td>
                    <td>66</td>
                    <td><span class="badge badge-info">Aktif</span></td>
                    <td>
                      <span class="badge badge-success">İncele</span>
                      <span class="badge badge-danger">Sil</span>
                    </td>
                  </tr>  <tr>
                    <td>Ashton Cox</td>
                    <td>Junior Technical Author</td>
                    <td>San Francisco</td>
                    <td>66</td>
                    <td><span class="badge badge-info">Aktif</span></td>
                    <td>
                      <span class="badge badge-success">İncele</span>
                      <span class="badge badge-danger">Sil</span>
                    </td>
                  </tr>  <tr>
                    <td>Ashton Cox</td>
                    <td>Junior Technical Author</td>
                    <td>San Francisco</td>
                    <td>66</td>
                    <td><span class="badge badge-info">Aktif</span></td>
                    <td>
                      <span class="badge badge-success">İncele</span>
                      <span class="badge badge-danger">Sil</span>
                    </td>
                  </tr>
              </tbody>
              <tfoot>
                <tr>
                    <th>İsim Soyisim</th>
                    <th>E-Posta</th>
                    <th>Telefon Numarası</th>
                    <th>Kayıt Tarihi</th>
                    <th>Durum</th>
                    <td>
                      İşlemler
                    </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <div class="card-footer"> Footer </div>
      </div>
    </div>
  </div>

<%- include('./partials/footer.ejs') %>
<script>
    $(document).ready(function(){
        $("#kt_datatable_zero_configuration").DataTable();
    })
</script>