<%- include('../../partials/header.ejs') %>
<div class="container">
    <div id="kt_app_content" class="app-content pb-0">
  
    </div>
  </div>
  

<%- include('../../partials/footer.ejs') %>
<script>
    $(document).ready(function(){
        $("#kt_datatable_zero_configuration").DataTable();
    })
</script>